<html>
<head>
    <title>
    {{ ansible_hostname }}
    </title>
    <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    </style>
</head>
<body>
<h1 class="center">{{ ansible_hostname }}</h1>
<img src="{{ image_url }}" class="center">
</body>
